@{
  Layout = "_Layout";
}

@using GalleryGram.ViewModels

@model LoginViewModel
<body class="reglog">
  
@* 
<h1>Login to your account</h1>
<hr />
<hr> *@

@if(!ViewData.ModelState.IsValid) 
{
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:") 
}
@*  *@
<center>
@* @using (Html.BeginForm("Register", "Account", FormMethod.Post)) *@
<form action="/account/login" method="post">
<div class="container" >
    <div class="form" >
      <div class="title"><h1>Login<h1></div>
      <div class="subtitle">Login to view account</div>
      <div class="input-container ic1">
        <input name="Email" id="Email" class="input" type="text" placeholder=" " />
        <div class="cut"></div>
        <label for="Email" class="placeholder">Email</label>
      </div>
      <div class="input-container ic2">
        <input name="Password" id="Password" class="input" type="password" placeholder=" " />
        <div class="cut"></div>
        <label for="Password" class="placeholder">Password </label>
      </div>
    
      <button type="text" class="submit">submit</button>
    </div>
</div>
</form>
</center>


 <br>
  <div  class="svg-wrapper">
  <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
    <rect id="shape" height="40" width="150" />
    <div id="text">
      @* <a href=""><span class="spot"></span>Button 1</a> *@
      <p style="margin-top: 5px;" class="spot">@Html.ActionLink("Register", "Register")

      </p>
    </div>
  </svg>
</div>

  <div class="svg-wrapper">
  <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
    <rect id="shape" height="40" width="150" />
    <div id="text">
      @* <a href=""><span class="spot"></span>Button 1</a> *@
      <p style="margin-top: 5px;" class="spot">@Html.ActionLink("Back to accounts", "Index")

      </p>
    </div>
  </svg>
</div>







@* 
@using (Html.BeginForm())
{
  @Html.LabelFor(m => m.Email) <br>
  @Html.TextBoxFor(m => m.Email)<br>

  @Html.LabelFor(m => m.Password)<br>
  @Html.EditorFor(m => m.Password)<br>
<br> *@


  @* <div class="svg-wrapper">
  <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
    <rect id="shape" height="40" width="150" />
    <div id="text">
      <p class="spot"> <input class="btn" type="submit" value="Log in" />

      </p>
    </div>
  </svg>
</div> *@

 







</body>